{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    {% if entries %}
    <h1>{{ entries.title }}</h1>
    {% endif %}
    <form action="{{ request.route_url('edit') }}" method="POST">
        <label for="title">{{}}</label><br/>
        <input type="text" name="name"/><br/>
        <label for="value">New Instance Value: </label><br/>
        <input type="number" name="value"/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock content %}
