{% extends "layout.jinja2" %}
{% block title %}Learning Journal Home Page{%
endblock %}

{% block body %}
<h1>Learning Journal Homepage. A view of all the entries made so far.</h1>
<ul>
    {% for post in entries %}
        <li><a href="/detail/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
